#banner{
    margin-bottom: 0px;
}
section.backgroundImage{
    margin-top: 0px;
}

socials {
    text-align: center;
    padding: 20px 0;
}
footer {
    float: left;
    width: 100%;
    background-color: #34495e;
    color: white;
}
.socials i{
    font-size: 30px;
    margin-left: 10px;
    color: aliceblue;
}

.socials i:hover{
    color: blue;
}

#gallery{
    background-color: whitesmoke;
} 